.pizza__card__Details{
    margin: 10px;
    padding: 10px;
    text-align: center;
    width:250px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.pizza__img__details img{
    width: 300px;
    margin: 5px;
}

.pizza__content{
    h5{
        margin: 5px;
    }
}

